# MYSQL SETUP
MYSQL_DB=wordpress
MYSQL_USER=maria

# WP SETUP
DOMAIN_NAME=vgalmich.42.fr
WP_URL=https://vgalmich.42.fr
WP_ADMIN_USER=vgalmich
WP_TITLE=Inception Website
WP_ADMIN_EMAIL=vgalmich@student.42.fr

# WP NEW USER SETUP
WP_USER=user_name
WP_USER_EMAIL=user@login.42.fr