#DOMAIN
DOMAIN_NAME=vgalmich.42.fr

#MARIADB
MYSQL_ROOT_PASSWORD=mariadb
MYSQL_DATABASE=wordpress
MYSQL_USER=maria
MYSQL_PASSWORD=maria123

#WORDPRESS
WP_URL=https://vgalmich.42.fr // via wp-cli
WP_TITLE=Inception Website
WP_ADMIN_USER=vgalmich
WP_ADMIN_PASSWORD=Melbourne123
WP_ADMIN_EMAIL=vgalmich@student.42.fr

WP_USER=regular_user
WP_USER_PASSWORD=userpass123
WP_USER_EMAIL=user@login.42.fr